@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0%;
    padding: 0%;

}

body {
    font-family: Roboto;
}

.logo {
    float: left;
    size: 100px;
    text-decoration: none;
    color: white;
    font-family: Lobster, sans-serif;
    font-weight: 600;
}

.logo {
    width: 120%;
    cursor: pointer;
}

.hero-image {
    background-image: url(../images/dog1.png) no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.75)),(rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    
    
}

.navbar ul li {
    width: 10%;
    float: right;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
/*code used from youtube video for inspiration: https://www.youtube.com/watch?v=PgAZ8KzfhO8*/

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: lightslategrey;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;

}
