* {
    margin: 0;
    padding: 0;

}

.hero-image {
    background-image: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
