@import url('https://fonts.googleapis.com/css2?family=Festive&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0%;
    padding: 0%;
    border: none;

}
/*main body*/

body {
    font-family: roboto;
    font-weight: 300;
    overflow-x: hidden;
    position: relative;
}

/*heading and logo*/

#logo h1 {
    float: left;
    margin-left: 5%;
    font-size: 355%;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    font-family: lobster, roboto;
    position: relative;
    display: flex;
}

/*navbar right menu*/

.navbar ul li {
    max-width: 100%;
    float: right;
    margin-right: 3rem;
    position: relative;
    display: flex;
    list-style-type: none
}

.navbar ul li a {
    font-family: roboto;
    font-size: 140%;
    font-weight: normal;
    color: rgb(70, 70, 70);
    text-decoration: none;
    display: flex;
}

.navbar ul li a:hover {
    font-weight: 800;
}


#logo, .navbar {
    line-height: 80px;
}

/*hero image*/

#hero-image {
    background-position: center center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

}

#img-text {
    text-align: center;
    color: rgb(125, 125, 125);
    font-size: 30px;
    font-weight: bold;
    font-family: lobster;
    letter-spacing: 3px;
    margin-top: 300px;
    position: absolute;
}


/*about us*/

#box1 {
    padding-bottom: 3rem;
}

input,
select,
textarea {
    width: 100%;
}

#about-us {
    padding-top: 1rem;
    font-size: 47px;
    font-family: lobster, roboto;
    letter-spacing: 1px;
    margin-top: 10%;
    margin-bottom: 3%
}

/*background Div block containing text and header*/

.row {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
}
/*paragraph text in about us section*/

.row p {
    font-size: 19px;
    margin-left: 10%;
    margin-right: 10%;
}

.row p a {
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.row h1 {
    width: 100%;
    text-align: center;
    text-emphasis-style: bold;
}


/*Join in section*/

.header {
    width: 100%;
    text-align: center;
}

#join-in {
    font-size: 50px;
    font-family: lobster, roboto;
    letter-spacing: 1px;
    margin-top: 10%;
    margin-bottom: 7%;
}

/*card section*/

.card {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    line-height: inherit;
}

.card h3 {
    font-size: 35px;
    font-family: lobster, roboto;
    letter-spacing: 1px;
    margin-left: 3%;

}

.card h4 {
    font-size: 20px;
    font-family: roboto, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    flex-direction: column;
    float: left;
    margin-left: 3%;
    margin-right: 50%;
    margin-top: 5%;
}

#card-text {
    margin-left: auto;

}

/*Inspiration for square opacity block (salmon color) taken from Code-Institute Love Running Walkthrough Project, 
'Hero image' section, third video*/


#bay {
    max-width: 130px;
    height: 150px;
    border-radius: 2px;
    background-color: rgba(255, 140, 105, 0.4);
}

#woods {
    max-width: 130px;
    height: 150px;
    border-radius: 2px;
    background-color: rgba(255, 140, 105, 0.4);
    
}

#city {
    max-width: 130px;
    height: 150px;
    border-radius: 2px;
    background-color: rgba(255, 140, 105, 0.5);
}

#card2 h3 {
    color: #fafafa;
    text-shadow: rgb(53, 53, 53);
    float: right;
}


#card1 {
    background: url(../images/pexels-dominika-roseclay-1076122.jpg) no-repeat center / cover;
    
}


#card2 {
    background: url(../images/pexels-johann-1254140.jpg) no-repeat center / cover;
    
}

#card3 {
    background: url(../images/pexels-megan-markham-2449533.jpg) no-repeat center / cover;
  
}



/*contact-form section*/

#contact-form h2 {
    font-size: 50px;
    font-family: lobster, roboto;
    letter-spacing: 1px;
    margin-bottom: 3%
}


#contact-form {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
}

#enquiry-form {
    font-size: 25px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    position: relative;
}

#form-wrap {
    margin-bottom: 20px;
}

.submit {
    font-size: 25px;
    font-family: roboto;
    border-radius: 8px;
}

.submit:hover {
    font-weight: 800;
    color: darkslateblue;
}

/*footer*/

.social {
    display: flex;
}

.social ul li a {
    color: rgb(53, 53, 53);
}

.social-icons {
    list-style-type: none;
    font-size: 3rem;
    margin: 0 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.social-center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

/*media queries section*/

@media only screen and (max-width: 790px) {
    .card {
        width: 100%;
    }

#logo h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    font-family: lobster, roboto;
    text-align: center;
    width: 100%;
    display: block;
    position: static;
}

.navbar ul li {
    max-width: 100%;
    margin-right: 1.5rem;
    position: relative;
    display: inline-flex;
    list-style-type: none;
}

#img-text {
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: lobster;
    letter-spacing: 3px;
    margin: 5rem 0 0 0;
   
    position: absolute;
    background: aliceblue;
}
}
